<div class="chat">
    <ul id="messages"></ul>
    <form action="" id="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="src/chat.js"></script>