<div class="container">

    <div class="wrapper">

        <div class="main">
            <h1 class="main-title">SPACE GAME</h1>
            <div class="card"><a href="github-login" class="card-link">Login with Github <i class="fa fa-github"
                        aria-hidden="true"></i>
                </a></div>
            <div class="card"><a href="localhost:8080/" class="card-link">Continue Anonymously</a></div>
        </div>
    </div>
</div>