<div class="container">
    <div class="wrapper">
        <div class="main">
            <h1 class="main-title">SPACE GAME</h1>
            <h2 class="sub-title">PROFILE</h2>
            <h4>Username: {{userName}}</h4>
            <h4>Games Played: {{gamesPlayed}}</h4>
            <h4>Win Percentage: {{wins}}%</h4>
            <h4>Date Joined: {{dateJoined}}</h4>
            <span><a class="button-link" href="http://localhost:8080">Start Game</a> <a class="button-link" href="http://localhost:4000/chat">Open Chat</a></span>
        </div>
    </div>
</div>